extends layout

block content
	mixin photo(student)
		img.img-rounded.img-responsive(src='/#{student.image}')
		h4 #{student.firstName} #{student.lastName}
	
	- var PHOTOS_PER_ROW = 6;
	- var ROWS = 2;
	- var nextLetter = (startsWith == 'z' || startsWith == 'Z') ? 'A' : String.fromCharCode(startsWith.charCodeAt(0)+1);

	mixin sidebutton(left, enabled, nextpage)
		- var margin = left ? ' mrl' : ' mll'
		- var hidden = enabled ? '' : ' invisible' 
		- var classes = 'btn btn-default half-height' + margin + hidden
		a(href='/#{startsWith}/#{nextpage}' class = classes)
			table.full-height
				tr
					td
						- var icon = left ? 'glyphicon glyphicon-chevron-left' : 'glyphicon glyphicon-chevron-right'
						span(class = icon)
	
	table.full-height
		tr
			td
				+sidebutton(true, page, page - 1)
				
			td.content
				- for (var i = 0; i < ROWS; i++)
					.row
						- var start = i * PHOTOS_PER_ROW
						- for (var j = start; j < start + PHOTOS_PER_ROW; j++)
							.col-sm-2.text-center
								if j < students.length
									+photo(students[j])
								else
									.photo-placeholder
			td
				+sidebutton(false, more, page + 1)


	script.
		var auto = "#{auto}" == 'true';
		var nextLetter = "#{nextLetter}";
		var timeout = auto ? 14000 : 120000;
		var more = "#{more}" == 'true';
		var next = more ? '/#{startsWith}/#{page + 1}?auto=true' : '/#{nextLetter}?auto=true';

		setTimeout(function(){
			window.location.href = next;
		}, timeout);